h1 {
  background-color: red;
}

.info {
  color: green;
  background-color: yellow;
  font-style: italic;
  font-family: serif;
  text-align: center;
  font-size: 100px
}

h3 {
  color: blue;
  background-color: gray;
  font-style: italic;
  text-align: center;
  font-size: 50px;
}

img {
  width: 700px;
  padding-left: 400px;
}
